$icon-color: gray;
$background-color: rgba(250, 250, 250, 1);
$background-color-navbar: #371894;
$background-color-app: #411fa5;
$background-color-feature: #fafafa;
$background-color-customized: #fafafa;
$background-color-contact: #222;