@import 'mixins';
@import 'variables';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container-app {
    padding: 10px 0 20px;
    background-color: $background-color;

    .title-app {
        font-size: 24px;
    }

    .container-img-main {

        .img-main{
            display: inline-block;
            width: 0;
        }

        img {
            height: 350px;
            width: 175px;
        }

        #app_img_main {
            @include main_images(1, 5, 0);
        }

        #app_img_main2 {
            @include main_images(0.97, 4, 1);
        }

        #app_img_main3 {
            @include main_images(0.96, 3, 2);
        }

        #app_img_main4 {
            @include main_images(0.95, 2, 3);
            position: absolute;
        }

        #app_img_main5 {
            @include main_images(0.94, 1, 4);
        }
    }
}

.container-features {
    padding: 10px 0 20px;
    background-color: $background-color;

    .title-features {
        font-size: 24px;
    }

    .features {
        margin: 5px;

        > i {
            border: 1px solid $icon-color;
            border-radius: 15%;

            &.icon-color {
                color: $icon-color;
            }
        }

        > .text-feature {
            vertical-align: top;
        }
    }
}

.container-contact {
    background-color: lightgray;
}

._center{
    display: table;
    margin: 0 auto;
}