@import 'mixins';
@import 'variables';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    // Remove background color in autocomplete
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
        -webkit-transition-delay: 9999s;
    }
}

nav {
    background-color: $background-color-navbar;
}

main {
    flex: 1 0 auto;
}

.container-app {
    height: 85vh;
    padding: 20px 0 20px;
    background-color: $background-color-app;
    color: white;

    .container-img-main {
        padding-top: 20px;

        .img-main{
            display: inline-block;
            width: 0;
        }

        img {
            height: 350px;
            width: 175px;
        }

        #app_img_main {
            @include main_images(1, 5, 0);
            @include animation('anim-main-app-img 1s linear 1s forwards');
        }

        #app_img_main2 {
            @include main_images(0.97, 4, 1);
            @include animation('anim-main-app-img2 1s linear 2s forwards');
        }

        #app_img_main3 {
            @include main_images(0.96, 3, 2);
            @include animation('anim-main-app-img3 1s linear 3s forwards');
        }

        #app_img_main4 {
            @include main_images(0.95, 2, 3);
            @include animation('anim-main-app-img4 1s linear 4s forwards');
            position: absolute;
        }

        #app_img_main5 {
            @include main_images(0.94, 1, 4);
        }
    }
}

.container-features {
    height: 85vh;
    padding: 10px 0 20px;
    background-color: $background-color-feature;

    .features {
        margin: 5px;

        > i {
            border: 1px solid $icon-color;
            border-radius: 15%;
            float: left;
            margin-right: 10px;

            &.icon-color {
                color: $icon-color;
            }
        }

        > .title, > .description {
            vertical-align: top;
            margin: 2px 0;
        }

        > .title {
            font-weight: 500;
        }

        > .description {
        }
    }
}

.container-customized {
    height: 85vh;
    padding: 10px 0 20px;
    background-color: $background-color-customized;

    .container-detail {
        height: 300px;
    }

    .logo {
        img {
            height: 100px;
            width: 130px;
        }
    }

    .box-color {
        height: 50px;
        width: 50px;
        margin: 3px;
        float: left;

        &.color-1 {background-color: aqua;}
        &.color-2 {background-color: aqua;}
        &.color-3 {background-color: aqua;}
        &.color-4 {background-color: aqua;}
        &.color-5 {background-color: aqua;}
        &.color-6 {background-color: aqua;}
        &.color-7 {background-color: aqua;}
        &.color-8 {background-color: aqua;}
        &.color-9 {background-color: aqua;}
    }

    .app-customized {
        img {
            position: relative;
            height: 300px;
            width: 150px;

            &.app-example-1 {
                z-index: 2;
            }

            &.app-example-2 {
                z-index: 1;
                transform: translate(-50%, -5px);
            }
        }
    }
}

.container-contact {
    background-color: $background-color-contact !important;
}

._title {
    font-size: 24px;
}

._center-h {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

._center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@include keyframes_main_app_img(anim-main-app-img, 1, 0);
@include keyframes_main_app_img(anim-main-app-img2, 1.1, 1);
@include keyframes_main_app_img(anim-main-app-img3, 1.3, 2);
@include keyframes_main_app_img(anim-main-app-img4, 1.6, 3);