body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body input:-webkit-autofill,
  body input:-webkit-autofill:hover,
  body input:-webkit-autofill:focus,
  body input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s; }

nav {
  background-color: #371894; }

main {
  flex: 1 0 auto; }

.container-app {
  height: 85vh;
  padding: 20px 0 20px;
  background-color: #411fa5;
  color: white; }
  .container-app .container-img-main {
    padding-top: 20px; }
    .container-app .container-img-main .img-main {
      display: inline-block;
      width: 0; }
    .container-app .container-img-main img {
      height: 350px;
      width: 175px; }
    .container-app .container-img-main #app_img_main {
      height: 350px;
      width: 175px;
      position: relative;
      visibility: hidden;
      z-index: 5;
      -webkit-animation: anim-main-app-img 1s linear 1s forwards;
      -moz-animation: anim-main-app-img 1s linear 1s forwards;
      -ms-animation: anim-main-app-img 1s linear 1s forwards;
      -o-animation: anim-main-app-img 1s linear 1s forwards;
      animation: anim-main-app-img 1s linear 1s forwards; }
    .container-app .container-img-main #app_img_main2 {
      height: 350px;
      width: 175px;
      position: relative;
      visibility: hidden;
      z-index: 4;
      -webkit-animation: anim-main-app-img2 1s linear 2s forwards;
      -moz-animation: anim-main-app-img2 1s linear 2s forwards;
      -ms-animation: anim-main-app-img2 1s linear 2s forwards;
      -o-animation: anim-main-app-img2 1s linear 2s forwards;
      animation: anim-main-app-img2 1s linear 2s forwards; }
    .container-app .container-img-main #app_img_main3 {
      height: 350px;
      width: 175px;
      position: relative;
      visibility: hidden;
      z-index: 3;
      -webkit-animation: anim-main-app-img3 1s linear 3s forwards;
      -moz-animation: anim-main-app-img3 1s linear 3s forwards;
      -ms-animation: anim-main-app-img3 1s linear 3s forwards;
      -o-animation: anim-main-app-img3 1s linear 3s forwards;
      animation: anim-main-app-img3 1s linear 3s forwards; }
    .container-app .container-img-main #app_img_main4 {
      height: 350px;
      width: 175px;
      position: relative;
      visibility: hidden;
      z-index: 2;
      -webkit-animation: anim-main-app-img4 1s linear 4s forwards;
      -moz-animation: anim-main-app-img4 1s linear 4s forwards;
      -ms-animation: anim-main-app-img4 1s linear 4s forwards;
      -o-animation: anim-main-app-img4 1s linear 4s forwards;
      animation: anim-main-app-img4 1s linear 4s forwards;
      position: absolute; }
    .container-app .container-img-main #app_img_main5 {
      height: 350px;
      width: 175px;
      position: relative;
      visibility: hidden;
      z-index: 1; }

.container-features {
  padding: 30px 0;
  background-color: #f3f3f3; }
  .container-features .features {
    margin: 20px 0;
    min-height: 80px; }
    .container-features .features > i {
      border: 1px solid gray;
      border-radius: 15%;
      float: left;
      margin-right: 10px; }
      .container-features .features > i.icon-color {
        color: gray; }
    .container-features .features .title, .container-features .features .description {
      vertical-align: top;
      margin: 2px 0; }
    .container-features .features .title {
      font-weight: 500; }

.container-customized {
  min-height: 85vh;
  padding: 10px 0 20px;
  background-color: #fafafa; }
  .container-customized .text-part {
    text-align: center; }
  .container-customized .container-detail {
    min-height: 320px; }
  .container-customized .logo img {
    height: 130px; }
  .container-customized .box-color {
    height: 55px;
    width: 55px;
    margin: 3px;
    float: left; }
    .container-customized .box-color.color-1 {
      background-color: aqua; }
    .container-customized .box-color.color-2 {
      background-color: aqua; }
    .container-customized .box-color.color-3 {
      background-color: aqua; }
    .container-customized .box-color.color-4 {
      background-color: aqua; }
    .container-customized .box-color.color-5 {
      background-color: aqua; }
    .container-customized .box-color.color-6 {
      background-color: aqua; }
    .container-customized .box-color.color-7 {
      background-color: aqua; }
    .container-customized .box-color.color-8 {
      background-color: aqua; }
    .container-customized .box-color.color-9 {
      background-color: aqua; }
  .container-customized .app-customized .container-imgs {
    display: flex;
    flex-wrap: nowrap;
    width: 225px; }
    .container-customized .app-customized .container-imgs img {
      position: relative;
      height: 300px;
      width: 150px; }
      .container-customized .app-customized .container-imgs img.app-example-1 {
        z-index: 2; }
      .container-customized .app-customized .container-imgs img.app-example-2 {
        z-index: 1;
        transform: translate(-50%, -5px); }

.container-contact {
  background-color: #222 !important; }

._title {
  font-size: 30px; }

._text-medium {
  font-size: 22px; }

._text-small {
  font-size: 16px; }

._center-h {
  display: table;
  margin-left: auto;
  margin-right: auto; }

._center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

._margin-row {
  margin: 0px !important; }

@-webkit-keyframes anim-main-app-img {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }
@-moz-keyframes anim-main-app-img {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }
@-ms-keyframes anim-main-app-img {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }
@-o-keyframes anim-main-app-img {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }
@keyframes anim-main-app-img {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }
@-webkit-keyframes anim-main-app-img2 {
  from {
    opacity: 0;
    transform: translate3d(-110%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-35%, 0, 0); } }
@-moz-keyframes anim-main-app-img2 {
  from {
    opacity: 0;
    transform: translate3d(-110%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-35%, 0, 0); } }
@-ms-keyframes anim-main-app-img2 {
  from {
    opacity: 0;
    transform: translate3d(-110%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-35%, 0, 0); } }
@-o-keyframes anim-main-app-img2 {
  from {
    opacity: 0;
    transform: translate3d(-110%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-35%, 0, 0); } }
@keyframes anim-main-app-img2 {
  from {
    opacity: 0;
    transform: translate3d(-110%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-35%, 0, 0); } }
@-webkit-keyframes anim-main-app-img3 {
  from {
    opacity: 0;
    transform: translate3d(-130%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-70%, 0, 0); } }
@-moz-keyframes anim-main-app-img3 {
  from {
    opacity: 0;
    transform: translate3d(-130%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-70%, 0, 0); } }
@-ms-keyframes anim-main-app-img3 {
  from {
    opacity: 0;
    transform: translate3d(-130%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-70%, 0, 0); } }
@-o-keyframes anim-main-app-img3 {
  from {
    opacity: 0;
    transform: translate3d(-130%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-70%, 0, 0); } }
@keyframes anim-main-app-img3 {
  from {
    opacity: 0;
    transform: translate3d(-130%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-70%, 0, 0); } }
@-webkit-keyframes anim-main-app-img4 {
  from {
    opacity: 0;
    transform: translate3d(-160%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-105%, 0, 0); } }
@-moz-keyframes anim-main-app-img4 {
  from {
    opacity: 0;
    transform: translate3d(-160%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-105%, 0, 0); } }
@-ms-keyframes anim-main-app-img4 {
  from {
    opacity: 0;
    transform: translate3d(-160%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-105%, 0, 0); } }
@-o-keyframes anim-main-app-img4 {
  from {
    opacity: 0;
    transform: translate3d(-160%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-105%, 0, 0); } }
@keyframes anim-main-app-img4 {
  from {
    opacity: 0;
    transform: translate3d(-160%, 0, 0); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-105%, 0, 0); } }

/*# sourceMappingURL=styles.css.map */
